section.landing {
  height: 100vh;
  background: linear-gradient(45deg, #dcb1b8 50%, #558b8b 50%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav > div.nav-wrapper {
  background-color: #313131;
  box-shadow: none;
}

span.hello {
  font-size: 10em;
  color: white;
}

span.periodHello {
  font-size: 10em;
  color: #F0DB4F;
}

span.iAm {
  font-size: 3em;
  color: white;
}

/* .container {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: .5em;
} */

div.front.container {
  margin-top: 25vh;
  margin-left: auto;
}

.fab {
  margin-right: .5em;
}

.fa-html5 {
  color: #E44D26;
}

.fa-css3-alt {
  color: #2965f1;
}

.fa-node {
  color: #3C873A;
}

.fa-js-square {
  color: #F0DB4F;
}

.fa-react {
  color: #61DBFB;
}

@media screen and (max-width: 420px) {

  span.hello {
    font-size: 5em;
    color: white;
  }

  span.iAm {
    font-size: 1.25em;
    color: white;
  }

  a.brand-logo {
    margin-left: 0;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 320px) {

  
}